@import "tailwindcss";

@theme {
  --color-keral-yellow: #FFD700;
  --color-keral-orange: #FF6B00;
  --color-keral-green: #2D7A2D;
  --font-display: 'Syne', sans-serif;
  --font-sans: 'DM Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');


@layer base {
  body {
    @apply bg-zinc-950 text-slate-50 antialiased selection:bg-keral-orange selection:text-white;
    font-family: 'DM Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Syne', sans-serif;
  }
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 */
}

::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6b00; /* keral-orange */
}
